<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Twitch Streams</title>
  <link rel="stylesheet" href="dist/css/app.css">
</head>
<body ng-app="app">
  <div class="header">
    <h1>Twitch.tv Streams</h1>
  </div>
  <div class="search">
    <input type="text" class="searchBar" placeholder="Search" ng-model="search" />
  </div>
  <div class="main" ng-controller="StreamsController as vm">
    <ul class="streamsList" ng-repeat="stream in vm.streams | filter: search">
      <li class="listNoStyle liContainer">
        <div class="left"><img ng-src="{{ stream.img }}" /></div>
        <div class="right">
          <a href="{{ stream.url }}"><span ng-bind="stream.name"></span></a>
          <p class="clear" ng-bind="stream.desc"></p>
        </div>
      </li>
    </ul>
  </div>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <!-- app module -->
  <script src="dist/js/app.module.js"></script>
  <!-- core module -->
  <script src="dist/js/core/core.module.js"></script>
  <script src="dist/js/core/constants.js"></script>
  <script src="dist/js/core/streamers.service.js"></script>
  <script src="dist/js/core/getUsers.service.js"></script>
  <script src="dist/js/core/getStreams.service.js"></script>
  <!-- streams module -->
  <script src="dist/js/streams/streams.module.js"></script>
  <script src="dist/js/streams/streams.controller.js"></script>
</body>
</html>
