@import url(https://fonts.googleapis.com/css?family=Lato);

$lightBlue: #6fc5d9;
$orange: #bf4e30;
$grey: #e4e0e1;
$font: Lato, Arial, Sans-Serif;

.listNoStyle {
  list-style-type: none;
  display: inline-block;
}

body {
  background-color: $lightBlue;
  color: gray;
}

.sizing {
  width: 300px;
  border: 1px solid $orange;
  margin: 0 auto;
}

.main {
  @extend .sizing;
  background: white;
  border-top: 1px solid $grey;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.main a {
  font-family: $font;
  text-decoration: none;
  color: $orange;
  margin-left: 10px;
}

.main a:after {
  content: '\a';
  white-space: pre;
  overflow: hidden;
}

.main img {
  vertical-align: middle;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 15px;
  float:left;
}

.liContainer {
  position: relative;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-top: 30px;
}

.clear {
  font-size: 12px;
  margin-top: 0px;
  margin-left: 10px;
  clear: right;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  @extend .sizing;
  text-align: center;
  height: 50px;
  background-color: $orange;
  color: white;
}

.header h1 {
  font-family: $font;
  font-weight: normal;
  margin: 0 auto;
  margin-top: 5px;
}

.search {
  @extend .sizing;
  height: 50px;
  border-bottom: none;
  background-color: white;
}

.searchBar {
  font-family: $font;
  font-size: 16px;
  height: 20px;
  width: 80%;
  border-radius: 20px;
  border: 1px solid $grey;
  margin-left: 30px;
  margin-top: 15px;
  text-indent: 20px;
}
